.snakemake/
angsd/*
bbmap/*
bedtools/*
code/log/*
deDup/*
depth/*
KRAKEN2_RESULTS/*
list/*
log/*
ngsLD/*
pcangsd/*
realigned/*
ref/*
saf/*
*.fastq*
*.fq*
*.fastqc*
*.html
*.zip
*.fasta*
*.fai
*.bam*
*.bai
*.sam*
*.log
*.vcf*
*.metrics.txt
*.bed*
*.OU
*.ER
*.cov
*.args
*.beagle.gz
*.mafs.gz
*.R*
*.saf*
*.sfs*
*theta*
*fst*
*.snakemake/
*stats*
*hist*
